/*=====================
    Button CSS
======================*/
a.cbtn.cbtn1 {
  color: #060606;
  background: #fbbf3f;
}

a.cbtn.cbtn1::after {
  content: "";
  position: absolute;
  height: 140%;
  width: 140%;
  border-radius: 50%;
  top: -20%;
  left: -20%;
  background: #fff;
  z-index: -1;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
a.cbtn.cbtn1:hover::after {
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

a.cbtn.cbtn2 {
  color: #fff;
  background: #3f7bfb;
}
a.cbtn.cbtn2::after {
  content: "";
  position: absolute;
  height: 140%;
  width: 140%;
  border-radius: 50%;
  top: -20%;
  left: -20%;
  background: #fbbf3f;
  z-index: -1;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
a.cbtn.cbtn2:hover::after {
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
a.cbtn.cbtn2:hover {
  color: #060606;
}

a.cbtn {
  text-decoration: none;
  color: #060606;
  font-size: 15px;
  padding: 14px 30px;
  border-radius: 30px;
  font-weight: 500;
  position: relative;
  z-index: 2;
  overflow: hidden;
  text-transform: uppercase;
  background: inherit;
  border: 1px solid #fbbf3f;
}
a.cbtn4 {
  color: #fff;
  background: #060606;
  text-transform: capitalize;
}

a.cbtn.cbtn4::after {
  content: "";
  position: absolute;
  height: 140%;
  width: 140%;
  border-radius: 50%;
  top: -20%;
  left: -20%;
  background: #fff;
  z-index: -1;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

a.cbtn.cbtn4:hover::after {
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
a.cbtn.cbtn4:hover {
  color: #060606;
}

a.cbtn.readmore_btn {
  font-size: 12px;
  text-transform: uppercase;
  color: #444444;
  font-weight: 400;
  border: 1px solid #cdcdcd;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
}

a.cbtn.readmore_btn::after {
  content: "";
  position: absolute;
  height: 140%;
  width: 140%;
  border-radius: 50%;
  top: -20%;
  left: -20%;
  background: #fbbf3f;
  z-index: -1;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
a.cbtn.readmore_btn:hover::after {
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.articale_buttons a.cbtn.readmore_btn {
  color: #fff;
}

.btn_group a {
  margin-right: 15px;
}

.btn_group a:last-child {
  margin-right: 0;
}
a.rbtn {
  text-decoration: none;
  color: #060606;
  font-size: 15px;
  border-radius: inherit;
  padding: 14px 30px;
  border-radius: 30px;
  font-weight: 500;
  position: relative;
  z-index: 2;
  overflow: hidden;
  text-transform: uppercase;
  background: inherit;
}
a.share_btn {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #fff;
  border: 1px solid #d9d9d9;
  text-align: center !important;
  border-radius: 50%;
  color: #0026ff;
  font-size: 16px;
  border: 1px solid #5e7ae8;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.articale_buttons a.share_btn {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
a.share_btn:hover {
  background: #2949ff;
  color: #fff;
  border: 1px solid #5e7ae8;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
button.quote_btn {
  background: #fbbf3f;
  border: none;
  padding: 12px;
  width: 100%;
  color: #060606;
  font-weight: 500;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: uppercase;
  border-radius: 4px;
}

button.quote_btn:hover {
  border-color: #060606;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: transparent;
}
button.quote_btn2 {
  background: #fbbf3f;
  border: none;
  padding: 12px;
  width: 100%;
  color: #060606;
  font-weight: 500;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: uppercase;
  border-radius: 4px;
}

button.quote_btn2:hover {
  border-color: #060606;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #fff;
}
